<!-- Title -->
<div class="displayPost">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div id="blog" class="blogSection">
        <div class="blogTitle links">
          <h1 class="inline postTitle"><span class="yellow"><%= @content.title %> </span></h1>
          <% if user_signed_in?%>
            <h6 class="inline">            
              <%= link_to 'All', contents_path %> |
              <%= link_to 'Edit', edit_content_path(@content) %> | 
              <%= link_to 'Destroy', @content, method: :delete, data: { confirm: 'Are you sure?' }%>
            </h6>
          <%end%>
        </div>
        <div class="blogTags">
          <h5 class="childElement"><%= formatDate(@content.created) %> 
            <% if @content.kind =="twitter" %>
              at <%= @content.location %>
            <%elsif @content.city.present? || @content.state.present?%> 
              at <%= @content.city%>, <%= @content.state%>
            <%end%>
          </h5>
        </div>
        <div class="postContent">
          <p class="postContent"><%= markdown(@content.body).html_safe %></p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <% if @content_attachments.present? %>
        <% @content_attachments.each do |p| %>
          <div class="col-xs-4 col-md-4">
            <%= link_to p.image_url, :class=> "thumbnail" do%>
              <%= image_tag(p.image, :class=>"img-responsive") if p.image? %>
            <%end%>
          </div>
        <%end%>
      <%end%>
      <% if @content.image.present? %>
        <div class="col-xs-4 col-md-4">
          <%= link_to @content.external_link, :class=> "thumbnail", :target => "_blank" do%>
            <%= image_tag(@content.image, :class=>"img-responsive") if @content.image? %>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
</div>
