<div id="top" class="row fullHeight">
	<!-- LEFT SIDE NAV BAR -->
	<div id="navBar" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 center">
		<div class="sideBarSection">
			<div class="profile">
				<div class="profileName">
					<!-- USER PROFILE PICTURE -->
					<%= image_tag "profilePic.jpg", :class=>"profileImg img-circle"%>
					<!-- USER FIRST & LAST NAME -->
					<h1>Wes<span class="yellow">Vance</span></h1>
					<!-- PULL TWITTER (USE TWITTER AS LOGIN) -->
					<h6 class="childElement">
						<%= link_to "https://twitter.com/WesAdvance", :target => "_blank" do %>
							@WesAdvance
						<% end %>
					</h6>
				</div> <!-- KEEP THIS AT THE TOP LEFT CORNER -->
			</div>
			<hr class="navBreak">
			<div class="navBarLinks">
				<ul class="links">
					<li>
						<h3><a href="#about">About Me</a></h3>
					</li>	
					<li>
						<h3><a href="#map">Blog</a></h3>
					</li>
					<li>
						<h3><a href="#connect">Connect</a></h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ABOUT ME -->
	<div class="aboutMeCol col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-lg-6">
		<!-- IF ADMIN, DISPLAY NEW POST FORM: ELSE DISPLAY ABOUT ME -->
		<% if admin_signed_in?%>
			<div class="adminBar right">
		  	<h4>
		  		<%= link_to(:controller => "posts", :action => "new" ) do%>
						New
					<%end%> ❖
					<%= link_to(:controller => "posts", :action => "index" ) do%>
						All Posts
					<%end%> ❖

		  		<%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
		  	</h4>
		  </div>
		<% end %>
		<div id="about" class="aboutMeSection">
			<hr>
				<!-- USER BIO -->
				<h3>
					Senior studying Computer Science at Texas A&M University. Focus on small business and entrepreneurship through the development of <span class="yellow">Rails & Meteor.js</span> applications. Currently developing custom ServiceNow application at Genworth Financial in Raleigh, NC.
				</h3>
			<hr>
			<div class="projectsBar center">
				<h4>
					<a href="http://jetapp.herokuapp.com", target="_blank"><span class="grey">JetPack</span></a> 
					❖
					<%= link_to asset_path("Docs/StartupResume-Raleway.pdf"), :target => "_blank" do %>
						<span class="grey">Resume</span>
					<% end %> 
					❖
					<a href="http://gearinup.meteor.com", target="_blank"><span class="grey">GearInUp</span></a>
					
				</h4>
			</div>
		</div>
	</div>
</div>

<div class="row fullWidth">
	<div class="col-xs-12">
		<div id="map" class="mapSection"></div>
	</div>
</div>

<div class="row">
	<!-- BLOG -->
	<div class="col-xs-8 col-xs-offset-2">
		<% if @posts.count > 0 %>
			<% @posts.each do |post| %>
				<% if post.is_active %>
					<hr>
					<div id="blog" class="blogSection">
						<div class="blogTitle links">
							<%= link_to controller: "posts", action: "show", id: post do %>
								<h1><%= post.title.capitalize %></h1>
							<%end%>
						</div>
						<div class="blogTags">
							<h6 class="childElement"><%= formatDate(post.date) %> 
								<% if post.city.present? || post.state.present?%> 
	              	in <%= post.city%>, <%= post.state%>
	            	<%end%>
            	</h6>
						</div>
						<div class="postContentPreview">
							<%= truncate(markdown(post.body).html_safe, :length => 400, :omission => "" , :escape => false,separator: /\s/, omission: '...')%>
						</div>
					</div>
				<%end%>
			<%end%>
		<%end%>
		<div class="pagFooter">
			<h4><%= paginate @posts %></h4>
			<!-- <%= page_entries_info @posts %> -->
		</div>
	</div>
</div>
<!-- <%= debug @geojson %> -->
