<div id="top" class="row fullHeight">
	<!-- LEFT SIDE NAV BAR -->
	<div id="navBar" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 center">
		<div class="sideBarSection">
			<div class="profile">
				<div class="profileName">
					<%= image_tag "profilePic.jpg", :class=>"profileImg img-circle"%>
					<h1>Wes<span class="yellow">Vance</span></h1>
					<h6 class="childElement">
						<%= link_to "https://twitter.com/WesAdvance", :target => "_blank" do %>
							@WesAdvance
						<% end %>
					</h6>
				</div> <!-- KEEP THIS AT THE TOP LEFT CORNER -->
			</div>
			<hr class="navBreak">
			<div class="navBarLinks">
				<ul class="links">
					<% if admin_signed_in?%>
						<li>
							<h3><a href="#create">Create</a></h3>
						</li>
					<%else%>
						<li>
							<h3><a href="#about">About Me</a></h3>
						</li>	
					<%end%>			
					<li>
						<h3><a href="#map">Blog</a></h3>
					</li>
					<li>
						<h3><a href="#connect">Connect</a></h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ABOUT ME -->
	<div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-lg-6">
		<!-- IF ADMIN, DISPLAY NEW POST FORM: ELSE DISPLAY ABOUT ME -->
		<% if admin_signed_in?%>
			<%= form_for(@post) do |f| %>

				<%- unless @lat_lng %>
					<script>
					  getGeoLocation();
					</script>
				<%- end %>

			  <% if @post.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			      <ul>
			      <% @post.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  
			  <div class="row newPostSection" id="create">
			    <div class="col-xs-12">
			    	<h1>Create</h1>
			    	<div class="row">
				    	<div class="col-sm-6 form-group">
					      <div class="field">
					        <!-- <%= f.label :title %><br> -->
					        <%= f.text_field :title, class: "form-control", placeholder:"Post Title" %>
					      </div>
				      </div>				      
				    </div>			  			     	    
			      <div class="row">
				      <div class="col-xs-12 form-group">
					      <div class="field">
					        <!-- <%= f.label :body %><br> -->
					        <%= f.text_area :body, class: "form-control", rows: "10", placeholder:"Insert post body here in HTML"%>
					      </div>
				      </div>
			      </div>
			      <div class="row">
			      	<div class="col-sm-12 form-group">
			      		<div class="field">
					        <div class="checkbox">
						        <label>
						          <%= f.check_box :is_active %> Active
						        </label>
						      </div>
									
									<%= f.submit "Submit", class: "btn btn-default"%>						      	
				      	</div>					     				    
			      	</div>	
		      	</div>
			    </div>
			    <!-- PUT LINK TO ALL POSTS HERE -->
			  </div>
			<% end %>

		<% else %>
			<div id="about" class="aboutMeSection">
				<hr>
					<h3>
						Senior studying Computer Science at Texas A&M University. Focus on small business and entrepreneurship through the development of <span class="yellow">Rails & Meteor.js</span> applicaitons. Currently developing custom ServiceNow application at Genworth Financial in Raleigh, NC.
					</h3>
				<hr>
			</div>
		<% end %>

	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="map" class="mapSection"></div>
	</div>
</div>

<div class="row">
	<!-- BLOG -->
	<div class="col-xs-8 col-xs-offset-2">
		<% if @posts.count > 0 %>
			<% @posts.each do |post| %>
				<% if post.is_active %>
					<hr>
					<div id="blog" class="blogSection">
						<div class="blogTitle links">
							<%= link_to controller: "posts", action: "show", id: post do %>
								<h1><%= post.title.capitalize %></h1>
							<%end%>
						</div>
						<div class="blogTags">
							<h6 class="childElement"><%= formatDate(post.date) %></h6>
							<!-- <h6 class="childElement"><%= post.latitude %> & <%= post.longitude %></h6> -->
						</div>
						<div class="blogBody">
							<p><%=post.body.capitalize.html_safe%></p>
						</div>
					</div>
				<%end%>
			<%end%>
		<%end%>
		<div class="pagFooter">
			<h4><%= paginate @posts %></h4>
			<!-- <%= page_entries_info @posts %> -->
		</div>
	</div>
</div>
<!-- <%= debug @geojson %> -->
