<div class="row fullHeight">
	<div id="navBar" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 center">
		<div class="sideBarSection">
			<div class="profile">
				<div class="profileName avatar">
					<%= image_tag "p.jpg", :class=>"profileImg img-circle"%>
					<h1>Wes<span class="yellow">Vance</span></h1>
					<h6 class="childElement">
						<%= link_to "https://twitter.com/WesAdvance", :target => "_blank" do %>
							@WesAdvance
						<% end %>
					</h6>
				</div>
			</div>
			<hr class="navBreak">
			<div class="navBarLinks">
				<ul class="links">
					<li>
						<h3><a href="#projects">Projects</a></h3>
					</li>	
					<li>
						<h3><a href="#map">Blog</a></h3>
					</li>
					<li>
						<h3><a href="#connect">Connect</a></h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ABOUT ME -->
	<div class="aboutMeCol col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-lg-6">
		<% if admin_signed_in?%>
			<div class="adminBar right">
		  	<h4>
		  		<%= link_to(:controller => "posts", :action => "new" ) do%>
						<i class="fa fa-pencil-square-o fa-2x icon"></i>
					<%end%> 
					<%= link_to(:controller => "posts", :action => "index" ) do%>
						<i class="fa fa-file-o fa-2x icon"></i>
					<%end%> 
					<%= link_to(:controller => "post_attachments", :action => "new" ) do%>
						<i class="fa fa-picture-o fa-2x icon"></i>
					<%end%> 
					<%= link_to(createTweet_path, :method => :post) do%>
						<i class="fa fa-retweet fa-2x icon"></i>
					<%end%>
		  		<%= link_to(destroy_admin_session_path, :method => :delete) do%>
		  			<i class="fa fa-user-times fa-2x icon"></i>
		  		<%end%>
		  	</h4>
		  </div>
		<% end %>
		<div id="about" class="aboutMeSection">
			<hr>
				<!-- USER BIO -->
				<h3>
					Senior studying Computer Science at Texas A&M University. Focus on small business and entrepreneurship through the development of <span class="yellow">Rails & Meteor.js</span> applications. Currently developing custom ServiceNow application at Genworth Financial in Raleigh, NC.
				</h3>
			<hr>
		</div>
	</div>
</div>

<hr>

<div id = "projects">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-11 col-sm-3 mobileHide">
			<%= link_to "http://jetapp.herokuapp.com", :target => "_blank" do %>
				<%= image_tag "JetPack-iMac.png", :class=>"projectLogo img-responsive", :height=>"150px;", :width=>"300px;"%>
			<%end%>
		</div>
		<div class="col-xs-offset-1 col-xs-11 col-sm-6">
			<h1 class="links"><a href="http://jetapp.herokuapp.com", target="_blank">JetPack</a></h1>
			<p>It is my belief that everyone has an idea tucked away in their head. JetPack is a webapp to help people get their ideas down in an attempt to enable collaboration.</p>
			<%= link_to "http://www.rubyonrails.org", :target => "_blank" do %>
				<%= image_tag "rails.png", :class=>"", :height=>"50px;", :width=>"50px;"%>
			<% end %> 
			<%= link_to "https://github.com/wvance/jetapp", :target => "_blank" do %>
				<%= image_tag "bootstrap.png", :height=>"50px;", :width=>"100px;"%>
			<% end %>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-xs-offset-1 col-xs-11 col-sm-6">
			<h1 class="links"><a href="http://gearinup.meteor.com", target="_blank">GearInUp</a></h1>
			<p>After many of my friends asked me to borrow my GoPro camera for a weekend, I decided to invest a little money and rent them out around the TAMU campus!</p>
			<%= link_to "https://www.meteor.com", :target => "_blank" do %>
				<%= image_tag "meteor.png", :class=>"", :height=>"50px;", :width=>"50px;"%>
			<%end%>
			<%= link_to "https://angularjs.org", :target => "_blank" do %>
				<%= image_tag "angular.png", :class=>"", :height=>"50px;", :width=>"50px;"%>
			<%end%>
			<%= link_to "https://github.com/wvance/GearInUp", :target => "_blank" do %>
				<%= image_tag "bootstrap.png", :height=>"50px;", :width=>"100px;"%>
			<%end%>
		</div>
		<div class="col-xs-offset-1 col-xs-11 col-sm-3 mobileHide">
			<%= link_to "http://gearinup.meteor.com", :target => "_blank" do %>
				<%= image_tag "GearInUpLogo_Black.png", :class=>"projectLogo", :height=>"150px;", :width=>"150px;"%>
			<%end%>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-xs-offset-1 col-xs-11 col-sm-3 mobileHide">
			<%= link_to "https://github.com/wvance/MolotovCocktail", :target => "_blank" do %>
				<%= image_tag "MolotovCocktail_iPhone.png", :class=>"projectLogo img-responsive", :height=>"150px;", :width=>"300px;"%>
			<%end%>
		</div>
		<div class="col-xs-offset-1 col-xs-11 col-sm-6">
			<h1 class="links"><a href="https://github.com/wvance/MolotovCocktail", target="_blank">Molotov Cocktail</a></h1>
			<p>An iOS game developed for fun! The purpose is to throw Molotov Cocktails at incoming fire icons.</p>
			<%= link_to "https://developer.apple.com/ios/download/", :target => "_blank" do %>
				<%= image_tag "ios.png", :class=>"", :height=>"50px;", :width=>"50px;"%>
			<%end%>
			<%= link_to "http://www.spritebuilder.com", :target => "_blank" do %>
				<%= image_tag "sprite.svg", :height=>"50px;", :width=>"50px;"%>
			<%end%>
		</div>
	</div>
</div>

<div class="row fullWidth">
	<div class="col-xs-12">
		<div id="map" class="mapSection"></div>
	</div>
</div>

<div class="row">
	<!-- BLOG -->
	<div class="col-xs-8 col-xs-offset-2">
		<% if @posts.count > 0 %>
			<% @posts.each do |post| %>
				<div class="links" id="<%= post.id %>">
					<% if post.is_active %>
						<hr>
						<div id="blog" class="blogSection">
							<div class="blogTitle links">
								<%= link_to controller: "posts", action: "show", id: post do %>
									<h1><%= post.title.capitalize %></h1>
								<%end%>
							</div>
							<div class="blogTags">
								<h6 class="childElement"><%= formatDate(post.date) %> 
									<% if post.city.present? || post.state.present?%> 
		              	in <%= post.city%>, <%= post.state%>
		            	<%end%>
	            	</h6>
							</div>
							<div class="postContentPreview">
								<%= truncate(markdown(post.body).html_safe, :length => 400, :omission => "" , :escape => false,separator: /\s/, omission: '...')%>
							</div>
						</div>
					<%end%>
				</div>
			<%end%>
		<%end%>
		<div class="pagFooter">
			<h4><%= paginate @posts %></h4>
		</div>
	</div>
</div>

<div class="row">
	<!-- TWEETS -->
	<div class="col-xs-8 col-xs-offset-2">
		<% if @tweets.count > 0 %>
			<% @tweets.each do |tweet| %>
					<hr>
					<div class="row links" id="<%= tweet.tweet_id %>">
						<% if tweet.image.present? %>
							<div class="col-xs-12 col-sm-3 center">
								<%= link_to tweet.image do%>
									<br>
									<%= image_tag tweet.image, :width=>"200px", :height=>"200px;", :class=>"img-responsive center thumbnail", :target => "_blank" %>
								<%end%>
							</div>
						<%end%>
						<div class="col-xs-12 <% if tweet.image.present? %>col-sm-9<%end%>">
							<div id="blog" class="blogSection">
								<div class="blogTitle links">
									<%= link_to(tweet.url, :target => "_blank") do%>
										<h2>Tweet: <%= tweet.body %></h2>
									<%end%>
								</div>
								<div class="blogTags">
									<h6 class="childElement">
										<% if tweet.date.present?%> 
											<%= formatDate(tweet.date) %> 
										<%end%>
										<% if tweet.location.present?%> 
			              	in <%= tweet.location%>
			            	<%end%>
		            	</h6>
								</div>
							</div>
						</div>
					</div>
			<%end%>
		<%end%>
		<div class="pagFooter">
			<h4><%= paginate @posts %></h4>
		</div>
	</div>
</div>
