<!-- Title -->
<div class="displayPost">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1><%= @post.title %></h1>
      <h5 class="childElement"><%= @post.author %></h5>
    </div>
  </div>
  <!-- BODY -->
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <hr>
      <span class="postContent"><%= @post.body.html_safe %></span>
      <hr>
    </div>
  </div>
  <!-- SOCIAL ROW -->
  <div class="row postSocial">
    <div class="col-xs-6 col-xs-offset-3">
      <h5 class="right"><%= formatDate(@post.date) %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 center">
      <% if admin_signed_in?%>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'All', posts_path %>
      <%end%>
    </div>
  </div>
</div>