<!-- Title -->
<div class="displayPost">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div id="blog" class="blogSection">
        <div class="blogTitle links">
          <h1 class="inline"><span class="yellow"><%= @post.title %> </span></h1>
          <% if admin_signed_in?%>
            <h6 class="inline">
              <%= link_to 'Edit', edit_post_path(@post) %> | 
              <%= link_to 'All', posts_path %>
            </h6>
          <%end%>
        </div>
        <div class="blogTags">
          <h6 class="childElement"><%= formatDate(@post.date) %> in <%= @post.city%>, <%= @post.state%></h6>
        </div>
        <div class="postContent">
          <p><%= markdown(@post.body).html_safe %></p>
        </div>
        <hr>
        <h6 class="right"><%= @post.author %></h6>
      </div>
    </div>
  </div>
</div>
