<!DOCTYPE html>
<html>
<!-- MAPBOX -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<head>
  <title>Wesley Vance | @WesAdvance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<!-- This is a test header -->
</header>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> center"><%= value %></div>
<% end %>
      
<div class="bodyWrapper">
	<%= yield %>
	
	<!-- GO TO HOMEPAGE -->
	<div class="topBottonBox">
		<% if current_page?(controller: 'welcome', action: 'index') %>
			<a href="#top"><i class="fa fa-chevron-up pull-right topButton"></i></a>
		<% else %>
			<%= link_to index_path() do %>
				<i class="fa fa-chevron-up pull-right topButton"></i>
			<%end%>
		<%end%>
	</div>
</div>

</body>
</html>
